<footer class="footer">
    <div class="footer-content">
        <p class="channel-info">
            <a href="https://t.me/techtouch7" target="_blank">
                <i class="fab fa-telegram"></i> قناة techtouch
            </a>
        </p>
        <div class="social-links">
            <a href="https://www.facebook.com/kinan.mjeed.88" target="_blank">
                <img src="{{ "facebook_official_icon.png" | relURL }}" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/techtouch0" target="_blank">
                <img src="{{ "instagram_official_icon.png" | relURL }}" alt="Instagram">
            </a>
            <a href="https://youtube.com/@kinanmajeed" target="_blank">
                <img src="{{ "youtube_official_icon.png" | relURL }}" alt="YouTube">
            </a>
            <a href="https://www.tiktok.com/@techtouch6" target="_blank">
                <img src="{{ "tiktok_official_icon.png" | relURL }}" alt="TikTok">
            </a>
        </div>
        <p class="copyright">جميع الحقوق محفوظة © 2025</p>
    </div>
</footer>

